ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,h2,p {
    margin: 0;
}

img {
    display: block;
}

.container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 1px solid red;
}

.header {
    background-color: #012D63;
    padding-top: 16px;
padding-bottom: 17px;
}

.header-box {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 29px;
    margin-left: auto;
}

.header-link {
    color: #FFF;
font-family: "Roboto";
font-size: 24px;
font-weight: 400;
line-height: 1.16;
}

.hero {
    background-image: url(../img/background-shoes.jpg);
    background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-top: 94px;
padding-bottom: 183px;
}


.hero-text {
    color: #FFF;
font-family: "PT Serif";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 1.33;
margin-bottom: 1px;
margin-top: 1px;
}

.hero-title {
    color: #FFF;

font-family: "Playfair Display";
font-size: 144px;
font-style: normal;
font-weight: 400;
line-height: 1.33;
margin-bottom: 1px;
}

.hero-title-b {
    color: #FFF;

font-family: "Playfair Display";
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 1.33;
margin-bottom: 12px;
}

.hero-text-b {
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.16;
margin-bottom: 46px;
}

.hero-btn {
    border-radius: 10px;
    background-color: #8E32C6;
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 0.8;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 61px;
padding-left: 61px;
}

.make-shoes {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.make-shoes-box {
     display: flex; 
}

.make-shoes-title {
    color: #FFF;
text-align: center;
font-family: "Playfair Display";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 1.33;
}

.reviews {
    background-repeat: no-repeat;
background-position: center;
background-size: cover;
    background-image: url(../img/background-rewiwes.jpg);
}

.reviews-box  {
  display: flex;
}


.reviews-text {
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.16;
}

.reviews-day {
    color: #D8D8D8;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.14;
}

.reviews-name {
    color: #FFF;

font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.14;
}

.reviews-with-us {
    color: #D8D8D8;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.16;
}

.form {
background-image: url(../img/form-background.jpg);
text-align: center;
padding-top: 21px;
padding-bottom: 37px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.form-title {
    color: #FFF;

font-family: "Playfair Display";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 1.33;
margin-bottom: 33px;
}

.form-item {
    margin-bottom: 19px;
}



.form-input-boss {
border-radius: 50px;
background-color: #FFF;
padding: 12px 460px 12px 25px;
color: #959595;

font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.form-input {
border-radius: 50px;
background-color: #FFF;
padding: 11px 417px 11px 24px;
color: #959595;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.form-btn {
border-radius: 16px;
background: #8E32C6;
color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.16;
padding: 20px 49px;
border: none;
}

.footer {
    background-color: #021635;
}

.footer-box {
    display: flex;
}

.footer-link {
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 1.16;
}






